{% extends 'myMovieReviews/base.html' %}
{% load static %}
{% block content %}
<div class="sort-bar">
    <a href="?sort=title" class="{% if sort == 'title' %}active{% endif %}">제목순</a>
    <a href="?sort=-rating" class="{% if sort == '-rating' %}active{% endif %}">별점 높은순</a>
    <a href="?sort=rating" class="{% if sort == 'rating' %}active{% endif %}">별점 낮은순</a>
    <a href="?sort=-release_date" class="{% if sort == '-release_date' %}active{% endif %}">최신순</a>
    <a href="?sort=release_date" class="{% if sort == 'release_date' %}active{% endif %}">오래된 순</a>
</div>
<div class='list-container'>
    {% for review in reviews %}
    <div class="card reviews">
        <div class="list-movie-data">
            <div class="poster">
                {% if review.poster %}
                <img src="{{ review.poster.url }}" alt="{{ review.title }}" width="150">
                {% else %}
                <img src="{% static 'default_poster.png' %}" alt="기본 포스터" width="150">
                {% endif %}
            </div>
            <h2 class="list-movie-title">
                <a href="{% url 'reviews-detail' review.pk %}">{{ review.title }}</a>
            </h2>
            <div class="list-movie-data">
                <p class="list-movie-title">개봉년도: {{ review.release_date }}</p>
                <p class="list-movie-genre">장르: {{ review.genre }}</p>
                <p class="list-movie-rating">별점: {{ review.rating }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}