* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1100px;

    margin: 0 auto;
    padding: 0 40px;
    color: white;
    background-color: black;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

 /* header */
header {
    display: flex; justify-content: space-between; align-items: center;
    padding: 25px 0;
}

.logo {
}
.logo img {}

.menu-nav {
    display: flex; justify-content: flex-end;
    flex-flow: row nowrap;
    gap: 22px;
}
.menu-nav .active{
    color:#17cf11;
}
.menu-nav a {
    font-size: 1.4rem;

}
.menu-nav a:hover{
    transform: translateY(-2px);
}
.gen-nav {
    display: flex; justify-content: space-between; align-items: center;
    padding-bottom: 20px;
}
.gen-nav .active {
    font-size: 1.7rem;
    padding-left: 50%;

}
.gen-nav a {
    font-size: 1.2rem;
}

@media (max-width: 750px){
    body{       /* .body: 점이 붙으면 class를 찾음 */
        padding: 0 15px;
    }

    .menu-nav{
        display: none;    /* 화면이 700 이하면 메뉴 숨김 */
    }
}